  [Desktop Entry]
  Name=RT-deutsch
  Exec=webapp-container --webappUrlPatterns=https?://rtde.site/* https://rtde.site/
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
